.vision-container {
    background-image: url("../assets/istockphoto-537311780-612x612 1.png");
    background-size: 100% 100%;
    width: 100%;
    height: 27rem;
}

.vision-container h2{
    color: white;
    font-weight: 700;
    font-size: 60px;
}
@media (max-width: 425px) {
    .vision-container h2 {
        font-size: 40px;
    }
}